In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [2]:
#!pip install tensorflow

In [3]:
import tensorflow as tf

In [4]:
import matplotlib.pyplot as plt

In [5]:
df=pd.read_csv("car data.csv")

In [6]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    object
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    object
 6   Seller_Type    301 non-null    object
 7   Transmission   301 non-null    object
 8   Owner          301 non-null    int64
dtypes: float64(2), int64(3), object(4)
memory usage: 21.3+ KB

In [8]:
df['Year']=2024 - df['Year']

In [9]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,10,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,11,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,7,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,13,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,10,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,8,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,9,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,15,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,7,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,8,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [10]:
from sklearn.preprocessing import LabelEncoder

In [11]:
le=LabelEncoder()

In [12]:
df['Car_Name']= le.fit_transform(df['Car_Name'])

In [13]:
df['Fuel_Type']= le.fit_transform(df['Fuel_Type'])
df['Seller_Type']= le.fit_transform(df['Seller_Type'])
df['Transmission']= le.fit_transform(df['Transmission'])

In [14]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,90,10,3.35,5.59,27000,2,0,1,0
1,93,11,4.75,9.54,43000,1,0,1,0
2,68,7,7.25,9.85,6900,2,0,1,0
3,96,13,2.85,4.15,5200,2,0,1,0
4,92,10,4.60,6.87,42450,1,0,1,0
...,...,...,...,...,...,...,...,...,...
296,69,8,9.50,11.60,33988,1,0,1,0
297,66,9,4.00,5.90,60000,2,0,1,0
298,69,15,3.35,11.00,87934,2,0,1,0
299,69,7,11.50,12.50,9000,1,0,1,0
300,66,8,5.30,5.90,5464,2,0,1,0

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_Name       301 non-null    int32
 1   Year           301 non-null    int64
 2   Selling_Price  301 non-null    float64
 3   Present_Price  301 non-null    float64
 4   Kms_Driven     301 non-null    int64
 5   Fuel_Type      301 non-null    int32
 6   Seller_Type    301 non-null    int32
 7   Transmission   301 non-null    int32
 8   Owner          301 non-null    int64
dtypes: float64(2), int32(4), int64(3)
memory usage: 16.6 KB

In [16]:
x = df.drop('Selling_Price',axis=1)

In [17]:
y= df.Selling_Price

In [18]:
from sklearn.model_selection import train_test_split

In [19]:
x_train, x_test ,y_train, y_test =train_test_split(x,y,test_size=0.2, random_state=42)

In [20]:
x_train

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
184,14,16,0.750,26000,2,1,1,1
132,6,7,0.950,3500,2,1,1,0
194,18,16,0.787,50000,2,1,1,0
75,78,9,6.800,36000,2,0,1,0
111,48,8,1.500,8700,2,1,1,0
...,...,...,...,...,...,...,...,...
188,21,11,0.570,18000,2,1,1,0
71,71,13,12.480,45000,1,0,1,0
106,40,10,3.450,16500,2,1,1,1
270,69,13,10.000,69341,2,0,1,0
102,42,7,1.780,4000,2,1,1,0

In [21]:
x_test

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
177,30,8,0.57,24000,2,1,0,0
289,69,8,13.60,10980,2,0,1,0
228,94,12,9.40,60000,1,0,1,0
198,10,13,0.57,35000,2,1,1,1
60,71,11,18.61,40001,2,0,1,0
...,...,...,...,...,...,...,...,...
234,82,9,5.70,4492,2,0,1,0
296,69,8,11.60,33988,1,0,1,0
281,69,18,7.60,50456,2,0,1,0
285,87,8,8.50,15059,2,0,0,0
182,33,11,0.58,30000,2,1,1,0

In [22]:
sc =StandardScaler()

In [23]:
x_train =sc.fit_transform(x_train)
x_test =sc.fit_transform(x_test)

In [24]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Flatten
from tensorflow.keras.optimizers import Adam

In [25]:
model = Sequential()

In [26]:
model.add(Dense(32,input_dim =8,activation="relu" ))
model.add(Dense(64,activation="relu" ))
model.add(Dense(128,activation="relu" ))

model.add(Flatten())

model.add(Dense(1))

C:\Users\91836\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.12_qbz5n2kfra8p0\LocalCache\local-packages\Python312\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [27]:
optimizer = Adam(learning_rate=0.001)
model.compile(optimizer=optimizer,loss="mean_squared_error",metrics=['accuracy'])

In [28]:
model.fit(x_train,y_train,epochs=100,batch_size=32)

Epoch 1/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 2s 5ms/step - accuracy: 0.0000e+00 - loss: 53.3058
Epoch 2/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 42.4619
Epoch 3/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0027 - loss: 36.8397
Epoch 4/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0065 - loss: 27.4964
Epoch 5/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 9.2593e-04 - loss: 21.2860
Epoch 6/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 18.0270
Epoch 7/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 10.5891
Epoch 8/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 6.9862
Epoch 9/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 6.0553
Epoch 10/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 4.3133
Epoch 11/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 3.5266
Epoch 12/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 2.8124
Epoch 13/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0000e+00 - loss: 2.2636
Epoch 14/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 2.1180
Epoch 15/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.9317
Epoch 16/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.3734
Epoch 17/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0014 - loss: 1.3527
Epoch 18/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0000e+00 - loss: 1.4507
Epoch 19/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 1.1179
Epoch 20/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 1.2250
Epoch 21/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 1.2181
Epoch 22/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 1.0003
Epoch 23/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.7966
Epoch 24/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0099 - loss: 0.8993
Epoch 25/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.8728
Epoch 26/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.7261
Epoch 27/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 0.7689
Epoch 28/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.6388
Epoch 29/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 9.2593e-04 - loss: 0.7394
Epoch 30/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 0.5497
Epoch 31/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.6831
Epoch 32/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 0.5076
Epoch 33/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 9.2593e-04 - loss: 0.5171
Epoch 34/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.5225
Epoch 35/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.5482
Epoch 36/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.5358
Epoch 37/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.6968
Epoch 38/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.4455
Epoch 39/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.5078
Epoch 40/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.4374
Epoch 41/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.3997
Epoch 42/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 0.4155
Epoch 43/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0047 - loss: 0.4275
Epoch 44/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.5006
Epoch 45/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.3995
Epoch 46/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 9.2593e-04 - loss: 0.3657
Epoch 47/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 0.4218
Epoch 48/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.3809
Epoch 49/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.3513
Epoch 50/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.3850
Epoch 51/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 9.2593e-04 - loss: 0.4268
Epoch 52/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 9.2593e-04 - loss: 0.3497
Epoch 53/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.3238
Epoch 54/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.3311
Epoch 55/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.3278
Epoch 56/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.3623
Epoch 57/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.3604
Epoch 58/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.3792
Epoch 59/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.3138
Epoch 60/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.2907
Epoch 61/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.3135
Epoch 62/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.3514
Epoch 63/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.2812
Epoch 64/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 0.3229
Epoch 65/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0014 - loss: 0.3560
Epoch 66/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0047 - loss: 0.2925
Epoch 67/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.2769
Epoch 68/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0099 - loss: 0.3303
Epoch 69/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0099 - loss: 0.3161
Epoch 70/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.2746
Epoch 71/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.2893
Epoch 72/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.3168
Epoch 73/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 0.2928
Epoch 74/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.3816
Epoch 75/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0027 - loss: 0.3601
Epoch 76/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0065 - loss: 0.2769
Epoch 77/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0036 - loss: 0.2924
Epoch 78/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.2606
Epoch 79/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0014 - loss: 0.2759
Epoch 80/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0014 - loss: 0.2727
Epoch 81/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.2539
Epoch 82/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.2453
Epoch 83/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.2828
Epoch 84/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.3146
Epoch 85/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.2833
Epoch 86/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 7ms/step - accuracy: 0.0099 - loss: 0.2988
Epoch 87/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.2724
Epoch 88/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0099 - loss: 0.2634
Epoch 89/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.2808
Epoch 90/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0014 - loss: 0.2584
Epoch 91/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0020 - loss: 0.2563
Epoch 92/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0020 - loss: 0.2791
Epoch 93/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.2212
Epoch 94/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0065 - loss: 0.3015
Epoch 95/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 3ms/step - accuracy: 0.0099 - loss: 0.2438
Epoch 96/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0065 - loss: 0.2862
Epoch 97/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 0.2579
Epoch 98/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0014 - loss: 0.3699
Epoch 99/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0036 - loss: 0.2972
Epoch 100/100
8/8 ━━━━━━━━━━━━━━━━━━━━ 0s 2ms/step - accuracy: 0.0047 - loss: 0.2661

In [29]:
y_pred=model.predict(x_test)

2/2 ━━━━━━━━━━━━━━━━━━━━ 0s 103ms/step

In [30]:
from sklearn.metrics import mean_squared_error,mean_absolute_error,r2_score

In [31]:
r2_score(y_pred,y_test)

0.9562804759853603

In [32]:
mean_absolute_error(y_pred,y_test)

0.7495861487408154